.text {
  padding: 10px 0 0 10px;
}

.title:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.cards {
  text-align: center;
  justify-content: center;
  display: flex;
}

.close {
  color: red;
  cursor: pointer;
  position: absolute;
  top: 9px;
  right: 9px;
  font-size: 20px;
}
