.text {
  justify-content: justify;
  padding-left: 5px;
}

.title {
  display: flex;
  justify-content: left;
  padding-left: 5px;
  margin-top: -25px;
  width: 250px;
}

.tag {
  display: flex;
  justify-content: left;
  padding-left: 5px;
}

.title:hover {
  text-decoration: underline;
  cursor: pointer;
  transform: scale(1.05);
}

.cards {
  text-align: center;
  justify-content: center;
  display: flex;
}

.close {
  color: red;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
}

.uparrow {
  color: rgb(44, 64, 181);
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 90px;
  font-size: 20px;
}

.downarrow {
  color: rgb(44, 64, 181);
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 50px;
  font-size: 20px;
}

@media (max-width: 1000px) {
  .cards {
    width: 20vw;
  }
}