.text {
  padding: 10px;
}

.title{
  display: flex;
  justify-content: center;
  
}

.title:hover {
  text-decoration: underline;
  cursor: pointer;
  transform: scale(1.05);
  
}

.cards {
  text-align: center;
  justify-content: center;
  display: flex;
}

.close {
  color: red;
  cursor: pointer;
  position: absolute;
  top: 9px;
  right: 9px;
  font-size: 20px;
}
