.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mb-3 {
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.back {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.back:hover {
  color: black;
  transform: scale(1.1);
}
